nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar-nav{
  display: grid;
  grid-template-columns: repeat(10, auto);
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0;
}
#saved:hover{
  background-color: rgb(255, 75, 75);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

#saved {
transform: translateY(30%);
margin-bottom: 10px;
}

#navbar {
  background-color: red;
  color: white;
}

#title {
  transform: translateY(12%)
}

#form {
  transform: translate(0%, 30%)
}

#searchbtn {
  transform: translate(310%, -108%)
}

#content {
  text-align: center;
}

#save {
  transform: translateX(1300%);
  display: none;
}