#searchResultGrid{
  display:grid;
  grid-template-columns: 90vw 2vw;
}


#closeRsp{
  display:none;
  border: white 2px double;
  border-radius: 4px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  padding-left: 4px;
  padding-right: 4px;
  width: fit-content;
  height: 4.2vh;
  margin-left: 85vw;
  margin-top: 14vh;
}

#closeRsp:hover{
background-color: rgb(40, 40, 40);
}

#saved:hover{
  background-color: rgb(255, 75, 75);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

#saved {
transform: translateY(30%);
margin-bottom: 10px;
}

.align:after {
  content: "";
  clear: both;
  display: table;
}

#info {
  text-align: left;
  /* clear:left; */
  float: left;
  width: 50%;
  padding: 5%;
  background-color: rgb(255,255,255,.85);
  border-radius: 5px;
  margin-bottom: 2%;
}

/* #info::after {
  content: "";
  clear: both;
  display: table;
} */


h1 {
  color: red;
  /* font-size: 250%; */
}

#description {
  width: 30%;
}

/* .rsp::after {
  content: "";
  clear: both;
  display: table;
} */

/* #link{
  width: 10%;
} */

#rsp {
  /* background-color: rgb(255,255,255, .85); */
  border-radius: 5px;
  font-size: 120%;
  padding: 5%;
}

#img {
  height: 35%;
  width: 35%;
  float: left;
  margin-right: 1%;
}


#content {
  text-align: center;
}

#save {
  transform: translateX(1327%);
  display: none;
}

#savedmsg {
  display: none;
  text-align: center;
  color: green;
  transform: translate(60px, -20px);
  font-style: italic;
}

/*===============================NAV BAR=========================================*/

#navbar {
  background-color: rgb(255, 0, 0);
  color: white;
  display: grid;
  /* grid-template-columns:30% 50% 20%; */
  grid-template-columns:40vw 40vw 20vw;
  height: 35px;
  padding-top: 2.5vh;
}

#title {
  transform: translateY(-20%);
  font-size:180%;
}

#term{
  height: 17.5px;
}

/* #form {
 display:grid;
 grid-template-columns: 20% 50% 20%;
margin-top: .5vh;
} */

#form {
  display:grid;
  grid-template-columns: 50% 20%;
 margin-top: .5vh;
 height: 5px;
 }

#searchbtn {
  border: black 1px solid;
  /* border-radius: 10px; */
  text-align: center;
  background-color: black;
  color: white;
  font-size: 15px;
  /* font-size: 3vh; */
  cursor: pointer;
  /* padding-top: 2px; */
  /* padding-bottom: .5px; */
  padding-left: 4px;
  padding-right: 4px;
  width: fit-content;
  height: 22px;
  /* height: 4.2vh; */
  /* margin-top: .5vh; */
}

#searchbtn:hover{
  background-color: rgb(40, 40, 40);
  border-color: rgb(40, 40, 40);
}

 #about, #signup, #login {
  border: white 4px double;
  border-radius: 30px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
}

  #about:hover, #signup:hover, #login:hover{
    background-color: rgb(40, 40, 40);
  }

  #headerBtnGrid{
    display: grid;
    grid-template-columns: 5vw 7vw 5vw;
    grid-gap: 0 1vw;
    /* margin-top: 2.5vh; */
    /* margin-left: 25vw; */
  }

  .dropbtn {
   display:none;
  }

  .dropdown-content {
    display: none;
  }


    
/*=========================ABOUT PROMPT BOX===============================*/
#aboutModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#aboutContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#aboutSecondaryContainer{
background-color: rgba(107, 142, 35, .75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#aboutTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

 #aboutCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    margin-left: 85%;
  }

#aboutCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#aboutContents{
padding-left: 5%;
padding-right: 5%;
margin-top: 5%;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

/*=========================SIGN UP PROMPT BOX===============================*/
#signupModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#signupFormContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#signupFormSecondaryContainer{
background-color: rgba(107, 142, 35, .75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#signupFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

.formInput{
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 3%;
}

#signupBtnsGrid{
display: grid;
grid-template-columns: 30% 30%;
grid-gap: 0% 5%;
width: 200px;
margin-left: 66%;
}

#signupSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    /*margin-left: 85%;*/
  }
  
 #signupCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    /*margin-left: 85%;*/
  }

#signupSubmitBtn:hover, #signupCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#signupInputContents{
margin-left: 17.5%;
margin-top: 5%;
}

.signupFormLabel{
font-family: Arial, Helvetica, sans-serif;
color: orange;
font-weight: bold;  
}

#signupPasswordBlock{
margin-left: .5%;
}

  /*=========================LOGIN PROMPT BOX===============================*/
#loginModal{
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#loginFormContainer{
 margin-left: auto;
 margin-right: auto;
 width: 400px;
 height: fit-content;
 background-color: rgba(0, 0, 0, .5);
 border: 5px double rgb(80, 38, 22);
 border-radius:7px;
 padding: .75%;
}

#loginFormSecondaryContainer{
background-color: rgba(107, 142, 35, .75);
margin-left: auto;
margin-right: auto;
padding: 2%;
}

#loginFormTitle{
font-style: italic;
font-weight: bold;
font-size: 200%;
font-family: Arial, Helvetica, sans-serif; 
text-align: center;
color: white;
}

.formInput{
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 3%;
}

#loginBtnsGrid{
display: grid;
grid-template-columns: 30% 30%;
grid-gap: 0% 5%;
width: 200px;
margin-left: 66%;
}

#loginSubmitBtn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    /*margin-left: 85%;*/
  }
  
 #loginCloseButton{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 85%;
	text-align: center;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 1px;
    /*margin-left: 85%;*/
  }

#loginSubmitBtn:hover, #loginCloseButton:hover {
    background-color:rgb(60, 60, 60);
  }
  
#loginInputContents{
margin-left: 17.5%;
margin-top: 5%;
}

.loginFormLabel{
font-family: Arial, Helvetica, sans-serif;
color: orange;
font-weight: bold; 
}

#loginPasswordBlock{
margin-left: .5%;
}
  @media only screen and (max-width: 1270px) {
    #dialogbox{
      display:none;
      background:rgb(0, 0, 0, .5);
      border-radius:7px;
      width: 70vw;
      position: relative;
      z-index:10;
      border: 5px double rgb(80, 38, 22);
      margin-left: auto;
      margin-right: auto;
      transform: translateY(25%);
    }
  }

  @media only screen and (max-width: 1270px) {

    #headerBtnGrid {
    display:none;
  }

  #form {
    display:grid;
    grid-template-columns: 50% 18% 20%;
    margin-top: .5vh;
   }
  .dropbtn {
    color: white;
    display:block;
    /* font-size: 5vh; */
    font-size: 22px;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    border: solid white 1px;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    padding-left:10px;
    padding-right:10px;
    margin-top: -.8vh;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: rgb(60, 60, 60);
    color: white;
  }
  
  .dropdown {
    /* position: relative; */
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .navOpt{
  padding: 4%;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
  cursor: pointer;
  }
  
  .navOpt:hover{
  background-color: rgb(60, 60, 60);
  }
  
  
  .show {display: block;}
}/*end of media 1270px*/
/*==========================CSS FOR NAV AT X < 995px=====================*/
@media only screen and (max-width: 995px) {

.abrev{
display: none;
}

#navbar {
  background-color: rgb(255, 0, 0);
  color: white;
  display: grid;
  grid-template-columns:20vw 70vw;
  height: 35px;
  padding-top: 2.5vh;
}

#form {
  display:grid;
  grid-template-columns: 50% 18% 20%;
  margin-top: .5vh;
 }

}

/*==========================CSS AT X < 500px=====================*/
@media only screen and (max-width: 500px) {

  .abrev{
  display: none;
  }
  
  #navbar {
    background-color: rgb(255, 0, 0);
    color: white;
    display: grid;
    grid-template-columns:20vw 70vw;
    /* height: 8vh; */
    height: 35px;
    padding-top: 2.5vh;
  }
  
  #form {
    display:grid;
    grid-template-columns: 50% 25% 20%;
    margin-top: .5vh;
   }

   .dropdown-content {
    /* display: none; */
    position: absolute;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -25vw;
  }
/*---------------ABOUT PROMPT BOX----------------*/
  #aboutModal{
    display: none;
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
#aboutContainer{
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  height: fit-content;
  background-color: rgba(0, 0, 0, .5);
  border: 5px double rgb(80, 38, 22);
  border-radius:7px;
  padding: .75%;
}
    
  
  #aboutSecondaryContainer{
  background-color: rgba(107, 142, 35, .75);
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
  }
    
    #aboutTitle{
      font-style: italic;
      font-weight: bold;
      font-size: 10vw;
      font-family: Arial, Helvetica, sans-serif; 
      text-align: center;
      color: white;
      }

    #aboutContents{
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 5%;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      font-size: 4.5vw;
      }

      /* #aboutCloseButton{
        background-color: rgb(0, 0, 0);
        color: white;
        font-family: Arial, Helvetica, sans-serif; 
        font-size: 2vw;
      text-align: center;
        border: white 1px solid;
        border-radius: 5px;
        cursor: pointer;
        padding-top: 1px;
        margin-left: 85%;
      } */

    /*-----------------LOGIN PROMPT BOX-----------------*/

    #loginFormContainer{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, .5);
    border: 5px double rgb(80, 38, 22);
    border-radius:7px;
    padding: .75%;
    }

    #loginBtnsGrid{
      display: grid;
      grid-template-columns: 30% 30%;
      grid-gap: 0% 5%;
      width: 200px;
      margin-left: 58%;
      }
  /*----------------SIGN UP PROMPT----------------*/
  #signupFormContainer{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    height: fit-content;
    background-color: rgba(0, 0, 0, .5);
    border: 5px double rgb(80, 38, 22);
    border-radius:7px;
    padding: .75%;
   }

   #signupBtnsGrid{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-gap: 0% 5%;
    width: 200px;
    margin-left: 58%;
    }
  
  }/*end of media 500 max-width*/