nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar-nav{
  display: grid;
  grid-template-columns: repeat(10, auto);
  padding-bottom: 10px;
  text-align: center;
  margin-top: 0;
}
#saved:hover{
  background-color: rgb(255, 75, 75);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

#saved {
transform: translateY(30%);
margin-bottom: 10px;
}

#navbar {
  background-color: red;
  color: white;
}

#title {
  transform: translateY(12%)
}

#form {
  transform: translate(0%, 30%)
}

#searchbtn {
  transform: translate(310%, -108%)
}

#content {
  text-align: center;
}

#save {
  transform: translateX(1327%);
  display: none;
}

#savedmsg {
  display: none;
  text-align: center;
  color: green;
  transform: translate(60px, -20px);
  font-style: italic;
}

#saved2 {
  transform: translate(100px, 5px);
  border: white 5px double;
  border-radius: 30px;
}

#about {
  transform: translate(150px, 5px);
  border: white 5px double;
  border-radius: 30px;
  text-align: center;
  background-color: red;
  color: white;
  font-size: 18px;
  }

  /*ABOUT DIALOG BOX=======================================================*/
  #dialogoverlay{
    display:none;
    /* opacity:0.8; */
    position: fixed;
    top: 0px;
    left: 0px;
    /* background: #FFF; */
    width: 100%;
    z-index: 10;
  }
  
  #dialogbox{
    display:none;
    background:rgb(0, 0, 0, .5);
    border-radius:7px;
    width: 550px;
    position: relative;
    z-index:10;
    border: 5px double white;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(50%);
  }
  
  #dialogbox > div { 
    background-color: rgb(0, 0, 128, .5);
    margin: 8px;
  }
  
  #dialogbox > div > #dialogboxhead {
    /* background: rgb(0, 128, 0, .5);  */
    font-size:30px;
    padding: 10px; 
    color:white;
    transform: translateY(10px)
  
  }
  
  #dialogbox > div > #dialogboxbody{
    /* background:rgb(0, 128, 0, .5); */
    padding: 20px;
    color: white;
    transform: translateY(10px)
  }
  
  #dialogbox > div > #dialogboxfoot{
    /* background:rgb(0, 128, 0, .5); */
    padding: 10px;
    text-align: right;
  }

  #aboutCB {
    background-color: rgb(0, 0, 0);
    color: white;
    border: white 1px solid;
    border-radius: 5px;
  }